{% extends 'base.html' %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div id="sign-up">
<h2>SIGN UP TO OUR NEWSLETTER</h2>
</div>

<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <form action="{% url 'newsletter' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark">Sign me up!</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
