<script>

    // force qty_input to only be 0-99
    $(".qty_input").keyup(function() {
        let inputVal = $(this).val();
        if (inputVal < 0 || inputVal > 99 || inputVal.length > 2) {
            $(this).val($(this).attr("min"));
        } else {
            $(this).val(inputVal);
        }
    });

    // Disable +/- buttons outside of 1-99 range
    function handleEnableDisable(itemId) {
        let currentValue = parseInt($(`#id_qty_${itemId}`).val());
        let minusDisabled = currentValue < 2;
        let plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop("disabled", minusDisabled);
        $(`#increment-qty_${itemId}`).prop("disabled", plusDisabled);
    }

    // Ensure proper enabling/disabling of all <inputs> on page-load
    let allQtyInputs = $(".qty_input");
    for (let i = 0; i < allQtyInputs.length; i++) {
        let itemId = $(allQtyInputs[i]).data("item_id");
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the <input> is changed
    $(".qty_input").change(function() {
        let itemId = $(this).data("item_id");
        handleEnableDisable(itemId);
    });

    // Increment Quantity
    $(".increment-qty").click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest(".input-group").find(".qty_input")[0];
        let currentValue;
        if ($(closestInput).val() == "") {
            currentValue = parseInt($(closestInput).attr("min") - 1);
        } else {
            currentValue = parseInt($(closestInput).val());
        }
        $(closestInput).val(currentValue + 1);
        let itemId = $(this).data("item_id");
        handleEnableDisable(itemId);
    });

    // Decrement Quantity
    $(".decrement-qty").click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest(".input-group").find(".qty_input")[0];
        let currentValue;
        if ($(closestInput).val() == "") {
            currentValue = parseInt($(closestInput).attr("min")) + 1;
        } else {
            currentValue = parseInt($(closestInput).val());
        }
        $(closestInput).val(currentValue - 1);
        let itemId = $(this).data("item_id");
        handleEnableDisable(itemId);
    });

</script>
