{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black mt-3">FAQ's</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container header-container">
    <div class="row">
        <div class="col text-center">
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Why is my order taking so long?
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>There are multiple reason's why your delivery may be delayed: </p>
                        
                                <h5>Weather Conditions:</h5>
                                <p>Severe weather such as storms, hurricanes, snowstorms,
                                   or floods can disrupt transportation networks and cause delays in delivery schedules.</p>
                                  <br>
                                <h5>Transportation Issues:</h5>
                                <p>Problems with transportation infrastructure, including accidents, road closures,
                                    or traffic congestion, can hinder the timely delivery of goods.</p>
                                  <br>
                                <h5>Logistical Challenges:</h5>
                                <p>Complex logistical operations, including sorting, handling, and routing packages,
                                  may encounter delays due to high volumes of shipments or inefficiencies in the supply chain.</p>
                                  <br>
                                <h5>Customs Clearance:</h5>
                                <p>International shipments may experience delays during customs clearance processes,
                                  where goods are inspected and assessed for compliance with import/export regulations.</p>
                                  <br>
                                <h5>Unexpected Circumstances:</h5>
                                <p> Unforeseen events such as natural disasters, labor strikes,
                                  or political unrest can disrupt normal business operations and
                                  lead to delays in delivery services.</p>
                                  <br>
                                <h5>Incomplete or Incorrect Addresses:</h5>
                                <p>Delivery delays may occur if addresses provided by customers are incomplete,
                                  inaccurate, or difficult to locate, leading to challenges for delivery personnel.</p>
                                <br>
                                <h5>High Demand Periods:</h5>
                                <p>During peak seasons such as holidays or promotional events, delivery services
                                  may experience increased demand, resulting in longer delivery timescales.</p>
                                  <br>
                                <h5>Operational Issues:</h5>
                                <p>Internal challenges within delivery companies, such as staffing shortages,
                                  equipment failures, or operational errors, can impede the smooth execution of delivery services.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How do I get in touch?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      You can contact us by filling in the contact form here: <a href="{% url 'contact' %}">Contact form</a>.
                      <br>
                      <small>If there's a backlog in the email queue, it could cause delays in sending emails generated by the contact form.</small>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What is your returns policy?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p>To see our full returns policy please click <a href="{% url 'returns' %}">here</a></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}