{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'faqs/css/faqs.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black mt-3">FAQ's</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col text-center">

      <!-- FAQs accordion -->
      <div class="accordion" id="accordionFAQs">
        {% for faq in faqs %}
          <div class="card">
            <div class="card-header bg-secondary" id="accordionHeader{{ forloop.counter }}">
              <h2 class="mb-0">
                <!-- question -->
                <button class="btn btn-link text-light font-weight-bold" type="button" data-toggle="collapse" data-target="#faq-{{ forloop.counter }}"
                  {% if forloop.first %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %} aria-controls="faq-{{ forloop.counter }}">
                  {{ faq.question|safe }}
                </button>
              </h2>
            </div>

            <!-- answer -->
            <div id="faq-{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% else %}collapsed{% endif %}"
              aria-labelledby="accordionHeader{{ forloop.counter }}" data-parent="#accordionFAQs">
              <div class="card-body">
                {{ faq.answer|safe|linebreaksbr }}
              </div>
              {% if faq.link_text != None %}
                <div class="card-footer">
                  <a href="{% url faq.link_url %}" class="btn btn-success">{{ faq.link_text }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% endblock %}
