{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-black mt-3">Our Returns Policy</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container header-container">
    <div class="row">
        <div class="col text-center">
            <div id="accordion">
                <div class="card">
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                At Above Grind, we understand that sometimes returns are necessary.
                                Rest assured, we make the return process simple and hassle-free,
                                offering swift and courteous assistance to ensure your complete satisfaction with our
                                products.
                                <br>
                                <strong>Products can be returned once they have not been opened or used.</strong>
                            </p>
                            <h2>Return Process</h2>
                            <h4>Initiate Return:</h4>
                            <p>Contact our customer service team via email or phone to initiate the return process.
                                Provide your order details and reason for the return.</p>

                            <br>

                            <h4>Receive Authorization:</h4>
                            <p>Once your return request is approved, you will receive a return
                                authorization code along with instructions on how to proceed.
                                Package Items: Securely package the items you wish to return,
                                ensuring they are in their original condition and packaging.</p>

                            <br>

                            <h4>Shipping:</h4>
                            <p>Affix the return authorization code on the package and ship it back to us using
                                a trackable shipping method of your choice.
                                Customers are responsible for return shipping costs unless the return is due to an error
                                on our part.</p>

                            <br>

                            <h4>Processing:</h4>
                            <p>Once we receive the returned items, our team will inspect them to ensure they meet our
                                return policy criteria.</p>

                            <br>

                            <h4>Refund or Exchange:</h4>
                            <p>Upon successful inspection, we will process your refund or exchange as per your request
                                and notify you accordingly.</p>

                            <br>

                            <p>We strive to make the returns process as straightforward and convenient as possible,
                                ensuring that our valued customers are satisfied with their Above Grind experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}