<div class="collapse navbar-collapse" id="main-nav">
    <li class="nav-item d-block d-md-none">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home'%}" id="home-link">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products'%}" id="all-products-link">
            All Products
        </a>
    </li>
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Coffee Machines" id="clothing-link">
            Coffee Machines
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Coffee Beans
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
            <a href="{% url 'products' %}?category=Coffee Beans" class="dropdown-item">Caffeinated Beans</a>
            <a href="{% url 'products' %}?category=Decaf Coffee" class="dropdown-item">Decaffinated Beans</a>
            <a href="{% url 'products' %}?category=Bundles" class="dropdown-item">Bundles</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'products' %}?category=Accessories" id="specials-link">
            Accessories
        </a>
    </li>
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'newsletter' %}">
            Newsletter
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog' %}"  aria-haspopup="true" aria-expanded="false">
            Blog
        </a>
    </li>
</ul>
</div>